.logosContainer{
  margin: 2em 2em 2em 0;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 4.9s;
  animation-timing-function: ease; 
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.octocat, .linkedin {
  height: 5em;
  width: 6em;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media (min-width: 1300px){
  .octocat, .linkedin {
    height: 15em;
    width: 18em;
  }
}