#emailSidebarContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  max-width: fit-content;
  margin: 0 0.5em;
}

.emailSidebarLine{
  border-left: 2px solid rgb(136, 146, 177);
  height: 13em;
  margin-top: 10px;
}

 a.email {
  font-size: 10px;
  margin: 0;
  text-decoration: none;
  color: rgb(136, 146, 177);
  writing-mode: vertical-rl;
}

@media (max-width: 450px){
  #sidebarContainer {
    display: none;
  }
}

@media (min-width: 1300px){
  #sidebarContainer {
    margin: 0 0 0 4.5em;
  }
}