@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 1em 0 1em;
}

@media (max-width: 48em) {
  .hero_h3{
    font-size: 13px;
    color: rgb(100, 255, 218);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
  }
}

.hero_p1, .hero_p2, .hero_p3 {
  margin: 0;
  border-right: solid 3px rgba(100, 255, 218);
  white-space: nowrap;
  overflow: hidden;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-weight: bold;  
  font-size: 34px;
  color: rgb(230, 241, 255);
}

.hero_p4 {
  margin: 0;
  overflow: hidden;
  font-family: "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(10, 25, 47);
  opacity: 0;
}

.hero_p1 {
  animation: animated-text-write 4s steps(29) 1s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}

.hero_p2 {
  animation: animated-text-write 4s steps(29) 6s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}

.hero_p3 {
  animation: animated-text-write 4s steps(29) 11s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}

.octocat{
  height: 5em;
  width: 6em;
}

.hero_p4 {
  animation-name: fadeIn;
  animation-delay: 8s;
  animation-timing-function: ease; 
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes animated-text-write{
  from{width: 0;}
  to{width: 350px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgb(100, 255, 218);}
  to{border-right-color: transparent;}
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}