@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


#fullPageContainer:focus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#heroContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#heroCenterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1em;
}

#aboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1em;
}

.hero_h3{
    font-size: 11px;
    color: rgb(100, 255, 218);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    margin: 0;
  }
  
.hero_p1, .hero_p2, .hero_p3 {
  margin: 0;
  border-right: solid 3px rgba(100, 255, 218);
  white-space: nowrap;
  overflow: hidden;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-weight: bold;  
  font-size: 40px;
  color: rgb(230, 241, 255);
}

.hero_p4, .hero_p5 {
  margin: 0;
  overflow: hidden;
  font-family: "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  color: rgb(136, 146, 177);
  opacity: 0;
}

#aboutMeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe_p4{
  margin-top: 0.5em;
  overflow: hidden;
  font-family: "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  color: rgb(136, 146, 177);
  opacity: 0;
}

.myAvatar{
  width: 150px; 
  height: 190px;
}

.hero_p1 {
  animation: animated-text-write 3s steps(29) 1s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}

.hero_p2 {
  animation: animated-text-write 4s steps(29) 6s 1 normal both,
  animated-cursor 600ms steps(29) infinite;
}

.hero_p3 {
  animation: animated-text-write 4s steps(29) 11s 1 normal both,
  animated-cursor 600ms steps(29) infinite;
}

.hero_p4 {
  animation-name: fadeIn;
  animation-delay: 0.3s;
  animation-timing-function: ease; 
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.hero_p5 {
  animation-name: fadeIn;
  animation-delay: 0.6s;
  animation-timing-function: ease; 
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#aboutMeContainer, .aboutMe_p4{
  animation-name: fadeIn;
  animation-delay: 1.5s;
  animation-timing-function: ease; 
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}


@keyframes animated-text-write{
  from{width: 0;}
  to{width: 285px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgb(100, 255, 218);}
  to{border-right-color: transparent;}
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media (min-width: 1300px){
  .hero_p1 {
    font-size: 114px;
  }

  .hero_p4, .hero_p5, .aboutMe_p4 {
    font-size: 24px;
  }

  .hero_h3 {
    font-size: 31px;
  }

  .aboutMe_p4{
    width: 70%;
  }

  #aboutMeContainer{
    flex-direction: row;
    justify-content: center;
  }

  @keyframes animated-text-write{
    from{width: 0;}
    to{width: 800px;}
  }
}

@media (min-width: 700px) and (max-width: 1299px){

  .hero_p1 {
    font-size: 63px;
  }

  .hero_p4, .hero_p5 {
    font-size: 14px;
    width: 70%;
  }

  .hero_h3 {
    font-size: 21px;
  }

  .aboutMe_p4{
    width: 50%;
  }

  #aboutMeContainer{
    flex-direction: row;
    justify-content: center;
  }

  @keyframes animated-text-write{
    from{width: 0;}
    to{width: 445px;}
  }
}
