.navContainer{
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px 0;
  box-shadow: 0px 5px 10px rgba(30, 45, 66);
  padding: 1.5em 1.5em;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 1;
  background-color: #2b3f5b;
}

.navContainer{
  display: flex;
  margin: 0 0 35px 0;
  box-shadow: 0px 5px 10px rgba(30, 45, 66);
  padding: 1.5em 1.5em;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #2b3f5b;
}

.logo {
  width: 2em;
  height: 2em;
}

.headerElement {
  font-size: x-large;
  color: rgb(136, 146, 177);
}