.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 40, 74);
  margin: 0 0 50px 0;
  padding: 2em 2em;
}

.socialContainer{
  display: flex;
  justify-content: space-around;
}

.instagram, .gmail {
  height: 29px;
  width: 29px;
}